@layer utilities {
  @keyframes marquee-right {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: translateX(0);
    }
  }
  .marquee-track-25 {
    will-change: transform;
    animation: marquee-right 25s linear infinite;
  }
  .marquee-track-30 {
    will-change: transform;
    animation: marquee-right 30s linear infinite;
  }
  .marquee-track-35 {
    will-change: transform;
    animation: marquee-right 35s linear infinite;
  }
  .marquee-track-hero {
    will-change: transform;
    animation: marquee-right-hero 35s linear infinite;
  }
  @keyframes marquee-right-hero {
    from {
      transform: translateX(-33.3333%);
    }
    to {
      transform: translateX(0);
    }
  }
  .shadow-default {
    @apply shadow shadow-neutral-400;
  }
  .py-container {
    @apply py-[clamp(86px,6vw,124px)];
  }
  .p-container {
    @apply px-3.5 sm:px-15;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .stackList {
    @apply flex flex-col items-center justify-center;
  }
  .form {
    @apply flex w-full flex-col gap-y-4 border bg-transparent p-6 shadow-sm;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
