.marqueeTrack {
  will-change: transform;
  animation: marquee-right 20s linear infinite;
}

@keyframes marquee-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}
